@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@keyframes bg-move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 100%;
  }
}

body {
  font-family: 'Space Mono', monospace;
  /*background-color: #111;*/
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --bg: #111;
  --fg: #fff;
  --subtle-fg: #888;
  --border: #444;
  --transparent-border: #4444;
  --accent: #cc00ff;
  --success: #0c0;
  --danger: #c00;
  --warning: #ca0;
  --info: #0cc;
  background-color: var(--bg);
  background-image: linear-gradient(to right, var(--transparent-border) 1px, transparent 1px), linear-gradient(0deg, var(--transparent-border) 1px, transparent 1px);
  background-size: 5rem 5rem;
  animation: bg-move 300s linear infinite;
  color-scheme: dark;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
}

#info {
  font-weight: 700;
  position: fixed;
  font-size: 1.2em;
  right: 0.5em;
  bottom: 0.5em;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}

#info>* {
  font-weight: 700;
  border: 1px solid var(--border);
  padding: 0.5em 1em;
  border-radius: 0.5em;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  color: var(--fg);
}

#info>*:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#info>*:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}
#info>*:not(:last-child):not(:first-child) {
  border-top: none;
  border-radius: 0;
}

@property --alpha {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

#reset-button,
#reset-yes {
  --alpha: 0;
  transition: background-color 0.3s, --alpha 0.3s, border-color 0.3s;
  cursor: pointer;
  background-color: rgb(from var(--danger) r g b / var(--alpha));
  border-color: color-mix(in lab, var(--danger) calc(100% * var(--alpha)), var(--border) 100%);
}

#reset-yes {
  --alpha: 0.2;
}

#reset-yes:hover {
  --alpha: 0.5;
}

#reset-yes:active {
  --alpha: 0.8;
}

#reset-button:hover {
  --alpha: 0.2;
}

#reset-button:active {
  --alpha: 0.5;
}

#click-count {
  font-size: 2em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ticker {
  overflow: hidden;
  white-space: nowrap;
  width: 1ch;
  height: 1.5em;
  line-height: 1.5em;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: var(--border) 2px solid;
  outline: var(--transparent-border) 3px solid;
  padding: 0 0.25em;
  border-radius: 0.25em;
  margin: 0.5em 0.2em;
}

@media (max-width: 610px) {
  .ticker {
    margin-left: 0.025em;
    margin-right: 0.025em;
    padding-left: 0.125em;
    padding-right: 0.125em;
  }

  .comma {
    display: none;
  }
}

.ticker-track {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s;
}

#click-button {
  font-size: 1.5em;
  font-weight: 700;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: transparent;
  border: 1px solid var(--border);
  color: var(--fg);
  cursor: pointer;
  transition: background-color 0.3s;
  width: calc(100% - 10px);
  position: relative;
  overflow: hidden;
  outline: #4444 2px solid;
  margin: 0.5em 5px;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:focus-visible {
  outline: var(--accent) 2px solid !important;
}

#click-button:disabled {
  cursor: not-allowed;
  background-color: var(--transparent-border);
}

@keyframes ripple {
  to {
    transform: scale(20);
    opacity: 0;
  }

}

#click-button .click-ripple {
  position: absolute;
  background: radial-gradient(#fff8, transparent);
  border-radius: 50%;
  width: 1em;
  height: 1em;
  top: calc(var(--y) - 0.5em);
  left: calc(var(--x) - 0.5em);
  transform: scale(0);
  opacity: 0.5;
  animation: ripple 0.5s linear;
  pointer-events: none;
  filter: blur(1px);
}

.comma {
  color: var(--subtle-fg);
  font-size: 1.2em;
}

#click-button:hover {
  background-color: var(--transparent-border);
}

#reset-dialog {
  border-radius: 0.5em;
  padding: 1em;
  background-color: var(--bg);
  border-color: var(--transparent-border);
  width: fit-content;
}

#reset-dialog p {
  font-size: 1.2em;
}
#reset-dialog h2 {
  margin: 0;
  font-size: 1.5em;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

button {
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: transparent;
  border: 1px solid var(--border);
  color: var(--fg);
  padding: 0.5em 1em;
  border-radius: 0.5em;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

button:hover {
  background-color: var(--transparent-border);
}
input {
  background-color: transparent;
  color: var(--fg);
  border: 1px solid var(--border);
  padding: 0.5em;
  border-radius: 0.5em;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

#mp-cursors {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 9999;
}
.cursor {
  position: absolute;
  width: 1em;
  height: 1em;
  pointer-events: none;
}

#status {
  position: fixed;
  top: 0.5em;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 1em;
  z-index: 9999;
}
:where(#status div) {
  font-weight: 700;
  display: none;
}
.loading #connecting {
  display: block;
  color: var(--warning);
}
.connected #connected {
  display: block;
  color: var(--success);
}
#disconnected {
  display: block;
  color: var(--danger);
}
:is(.loading, .connected) #disconnected {
  display: none;
}

.button-group {
  display: flex;
  gap: 0;
  margin-top: 1em;
}
.button-group > * {
  flex: 1;
}
.button-group > *:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.button-group > *:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-style: none;
}
.button-group > *:not(:first-child):not(:last-child) {
  border-radius: 0;
  border-right-style: none;
}

.hidden {
  display: none;
}
#shop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 5em;
  padding: 1em;
  z-index: 9999;
  background: #222;
  border-radius: 1em;
}
#shop h2 {
  font-size: 1.5em;
  margin-top: 0;
}
#shop-close {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  left: 0.5em;
  cursor: pointer;
  font-size: 1em;
  color: var(--fg);
}
#shop-bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -5;
}
#chat {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.75em;
  padding-top: 0;
  width: fit-content;
  z-index: 99995;
  background: var(--bg);
  border-radius: 0 1em 0 0;
  border: 1px solid var(--border);
  border-left: none;
  border-bottom: none;
}
/* toast.css */
svg.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
}

svg.icon path {
  fill: currentColor;
}

#toast-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 99999;
  pointer-events: none;
  left: 0;
  bottom: 0;
  padding: 20px;
  width: 20rem;
  box-sizing: border-box;
  gap: 10px;
}

.toast {
  position: relative;
  margin: 0;
  padding: 10px;

  border-radius: 5px;
  box-shadow: 0 0 10px var(--transparent-border);
  background-color: var(--bg);
  color: var(--fg);
  font-size: 1rem;
  pointer-events: auto;
}

.toast-title {
  font-size: 1.2em;
  margin-bottom: 5px;
  display: block;
  margin-right: 1.6rem;
  clear: both;
  font-weight: 500;
}

.toast p {
  margin: 0;
  display: block;
  font-size: 1em;
  font-weight: normal;
}

.toast-close {
  cursor: pointer;
  font-size: 1.6rem;
  color: var(--fg);
  background-color: transparent;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0;
  border: none;
}

.toast-icon {
  margin-right: 10px;
  font-size: 1.5rem;
  transform: translateY(-5px);
  float: left;
}

.toast .toast-icon {
  color: var(--fg);
}

.toast.success .toast-icon {
  color: var(--success);
}

.toast.danger .toast-icon {
  color: var(--danger);
}

.toast.warning .toast-icon {
  color: var(--warning);
}

.toast.info .toast-icon {
  color: var(--info);
}

@media (forced-colors: active) {
  .toast {
    border: 2px solid ButtonBorder;
  }

  .toast-close {
    border: none;
  }

  .toast-icon {
    color: Highlight;
  }
}